In [1]:
import pandas as pd
import os

In [3]:
df = pd.read_csv('jogadas.csv')
df

               obs  action  rewards
0       [13  2  0]     0.0      NaN
1       [13  2  0]     NaN     -1.0
2       [11 10  0]     1.0      NaN
3       [20 10  0]     0.0      NaN
4       [20 10  0]     NaN      0.0
...            ...     ...      ...
254626  [16  1  0]     1.0      NaN
254627  [21  1  0]     0.0      NaN
254628  [21  1  0]     NaN      0.0
254629  [21  5  1]     0.0      NaN
254630  [21  5  1]     NaN      1.0

[254631 rows x 3 columns]

In [10]:


# Group by 'observation' and 'action', then calculate count and mean for each group
grouped_data = df.groupby(['obs', 'action'])['rewards'].agg(['count', 'mean']).reset_index()

# Pivot the table to have separate columns for action_0 and action_1 counts and mean rewards
pivoted_data = grouped_data.pivot(index='obs', columns='action', values=['count', 'mean'])

# Rename the columns for clarity
pivoted_data.columns = [f'{col[0]}_{col[1]}' for col in pivoted_data.columns]

# Display the pivoted data
print(pivoted_data)

            count_0.0  count_1.0  mean_0.0  mean_1.0
obs
[ 4 10  0]        0.0        0.0       NaN       NaN
[ 5 10  0]        NaN        0.0       NaN       NaN
[ 6 10  0]        NaN        0.0       NaN       NaN
[ 7 10  0]        NaN        0.0       NaN       NaN
[ 8 10  0]        NaN        0.0       NaN       NaN
...               ...        ...       ...       ...
[9 5 0]           NaN        0.0       NaN       NaN
[9 6 0]           0.0        0.0       NaN       NaN
[9 7 0]           NaN        0.0       NaN       NaN
[9 8 0]           NaN        0.0       NaN       NaN
[9 9 0]           NaN        0.0       NaN       NaN

[280 rows x 4 columns]

In [6]:
grouped_data = df.groupby('action')['rewards'].agg(['count', 'mean']).reset_index()

# Rename the columns for clarity
grouped_data.rename(columns={'count': 'num_episodes', 'mean': 'win_rate'}, inplace=True)

# Display the grouped data
print(grouped_data)

   action  num_episodes  win_rate
0     0.0             0       NaN
1     1.0             0       NaN