In [1]:
import pandas as pd
import os

In [3]:
df = pd.read_csv('jogadas.csv')
df

               obs  action  rewards
0       [13  2  0]     0.0      NaN
1       [13  2  0]     NaN     -1.0
2       [11 10  0]     1.0      NaN
3       [20 10  0]     0.0      NaN
4       [20 10  0]     NaN      0.0
...            ...     ...      ...
254626  [16  1  0]     1.0      NaN
254627  [21  1  0]     0.0      NaN
254628  [21  1  0]     NaN      0.0
254629  [21  5  1]     0.0      NaN
254630  [21  5  1]     NaN      1.0

[254631 rows x 3 columns]

In [11]:
df.dtypes

obs         object
action     float64
rewards    float64
dtype: object

In [17]:
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of                obs  action  rewards
0       [13  2  0]     0.0      NaN
1       [13  2  0]     NaN     -1.0
2       [11 10  0]     1.0      NaN
3       [20 10  0]     0.0      NaN
4       [20 10  0]     NaN      0.0
...            ...     ...      ...
254626  [16  1  0]     1.0      NaN
254627  [21  1  0]     0.0      NaN
254628  [21  1  0]     NaN      0.0
254629  [21  5  1]     0.0      NaN
254630  [21  5  1]     NaN      1.0

[254631 rows x 3 columns]>

In [16]:
df.value_counts

<bound method DataFrame.value_counts of                obs  action  rewards
0       [13  2  0]     0.0      NaN
1       [13  2  0]     NaN     -1.0
2       [11 10  0]     1.0      NaN
3       [20 10  0]     0.0      NaN
4       [20 10  0]     NaN      0.0
...            ...     ...      ...
254626  [16  1  0]     1.0      NaN
254627  [21  1  0]     0.0      NaN
254628  [21  1  0]     NaN      0.0
254629  [21  5  1]     0.0      NaN
254630  [21  5  1]     NaN      1.0

[254631 rows x 3 columns]>

In [27]:
df.groupby("obs")[["action", "rewards"]].mean()

              action   rewards
obs
[ 4 10  0]  0.971910 -1.000000
[ 5 10  0]  1.000000       NaN
[ 6 10  0]  1.000000       NaN
[ 7 10  0]  1.000000       NaN
[ 8 10  0]  1.000000       NaN
...              ...       ...
[9 5 0]     1.000000       NaN
[9 6 0]     0.905263 -0.333333
[9 7 0]     1.000000       NaN
[9 8 0]     1.000000       NaN
[9 9 0]     1.000000       NaN

[321 rows x 2 columns]

In [22]:
df.groupby(["obs", "action"]).mean()

                   rewards
obs        action
[ 4 10  0] 0.0         NaN
           1.0         NaN
[ 5 10  0] 1.0         NaN
[ 6 10  0] 1.0         NaN
[ 7 10  0] 1.0         NaN
...                    ...
[9 6 0]    0.0         NaN
           1.0         NaN
[9 7 0]    1.0         NaN
[9 8 0]    1.0         NaN
[9 9 0]    1.0         NaN

[335 rows x 1 columns]

In [32]:
df.groupby(["obs", "action"])["action","rewards"].count()

/var/folders/rg/hd60bj_d0rv5n3q9vmrf29m80000gn/T/ipykernel_55516/3842531364.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["obs", "action"])["action","rewards"].count()

                   action  rewards
obs        action
[ 4 10  0] 0.0          5        0
           1.0        173        0
[ 5 10  0] 1.0        355        0
[ 6 10  0] 1.0        582        0
[ 7 10  0] 1.0        798        0
...                   ...      ...
[9 6 0]    0.0         27        0
           1.0        258        0
[9 7 0]    1.0        303        0
[9 8 0]    1.0        290        0
[9 9 0]    1.0        298        0

[335 rows x 2 columns]

In [30]:
jogadas_por_obs = df.groupby(["obs", "action"])["action"].count()
jogadas_por_obs

obs         action
[ 4 10  0]  0.0         5
            1.0       173
[ 5 10  0]  1.0       355
[ 6 10  0]  1.0       582
[ 7 10  0]  1.0       798
                     ...
[9 6 0]     0.0        27
            1.0       258
[9 7 0]     1.0       303
[9 8 0]     1.0       290
[9 9 0]     1.0       298
Name: action, Length: 335, dtype: int64

In [6]:
grouped_data = df.groupby('action')['rewards'].agg(['count', 'mean']).reset_index()

# Rename the columns for clarity
grouped_data.rename(columns={'count': 'num_episodes', 'mean': 'win_rate'}, inplace=True)

# Display the grouped data
print(grouped_data)

   action  num_episodes  win_rate
0     0.0             0       NaN
1     1.0             0       NaN