In [1]:
import pandas as pd
import os

In [3]:
df = pd.read_csv('jogadas.csv')
df

               obs  action  rewards
0       [13  2  0]     0.0      NaN
1       [13  2  0]     NaN     -1.0
2       [11 10  0]     1.0      NaN
3       [20 10  0]     0.0      NaN
4       [20 10  0]     NaN      0.0
...            ...     ...      ...
254626  [16  1  0]     1.0      NaN
254627  [21  1  0]     0.0      NaN
254628  [21  1  0]     NaN      0.0
254629  [21  5  1]     0.0      NaN
254630  [21  5  1]     NaN      1.0

[254631 rows x 3 columns]

In [11]:
df.dtypes

obs         object
action     float64
rewards    float64
dtype: object

In [17]:
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of                obs  action  rewards
0       [13  2  0]     0.0      NaN
1       [13  2  0]     NaN     -1.0
2       [11 10  0]     1.0      NaN
3       [20 10  0]     0.0      NaN
4       [20 10  0]     NaN      0.0
...            ...     ...      ...
254626  [16  1  0]     1.0      NaN
254627  [21  1  0]     0.0      NaN
254628  [21  1  0]     NaN      0.0
254629  [21  5  1]     0.0      NaN
254630  [21  5  1]     NaN      1.0

[254631 rows x 3 columns]>

In [16]:
df.value_counts

<bound method DataFrame.value_counts of                obs  action  rewards
0       [13  2  0]     0.0      NaN
1       [13  2  0]     NaN     -1.0
2       [11 10  0]     1.0      NaN
3       [20 10  0]     0.0      NaN
4       [20 10  0]     NaN      0.0
...            ...     ...      ...
254626  [16  1  0]     1.0      NaN
254627  [21  1  0]     0.0      NaN
254628  [21  1  0]     NaN      0.0
254629  [21  5  1]     0.0      NaN
254630  [21  5  1]     NaN      1.0

[254631 rows x 3 columns]>

In [ ]:
df.groupby(["obs", "reward"]).sum()

In [6]:
grouped_data = df.groupby('action')['rewards'].agg(['count', 'mean']).reset_index()

# Rename the columns for clarity
grouped_data.rename(columns={'count': 'num_episodes', 'mean': 'win_rate'}, inplace=True)

# Display the grouped data
print(grouped_data)

   action  num_episodes  win_rate
0     0.0             0       NaN
1     1.0             0       NaN